 TABLE {
  border-collapse: collapse;
  width: 589px; 
}
 TH { 
  text-align: left; 
}
 TD {
  text-align: left; 
}
 TH, TD {
  border: 1px solid #A5A5A5; 
  padding: 4px;
}
  LI {
    size:14px;
}
  OL {
    margin-top:1px
}
.global {
  background: white;
  margin-right: auto;
  width: 1000px;
  margin-left: auto;
  overflow: auto;
  padding: 56px;
  margin-top:92px;
  outline: 2px solid #A5A5A5
}
.welcome {
  font-size: 49px;
  margin-top:67px;
  text-align: center;
  color:#4A4A4A
}
.welcome-text {
  color: #A5A5A5;
  margin-top: 28px;
  text-align: left;
  size:33px;
}
.document-structure-glplace {
  text-align: left
}
.document-structure-gltext {
  font-size: 33px;
  margin-top:45px;
  color:#4A4A4A;
  font-family:=avenirnext-bold
}
.document-structure-place {
  margin-left: auto;
  margin-top:21px;
  font-size: 25px;
  color:#A4A4A4A
}
.document-structure-text {
  size: 33px
}
/*start section witf car and hard*/
.section-content {
  overflow: auto;
  margin-bottom: 50px;
}
.section-hardline {
  color: #1DACD6;
  margin-right: auto;
  font-size: 25px
}

.section-text {
  width: 950px;
}

.section-img {
  margin-right: auto;
  width: 93px;
  float: left;
  margin-right: 20px;
}
/*end section witf car and hard*/

.caption {
  color: #1DACD6;
  font-size: 25px;
  text-align: left
}

.by-who {
  background: white;
  width: 600px;
  padding: 9px;
  margin-top:46px;
  margin-left: auto;  
  margin-right: auto;
  overflow: auto;
  text-align: center;
  outline: 2px solid #A5A5A5
}
